<div class="surface-card" style="background: transparent; color: rgba(255, 255, 255, 0.055);">
  <div *ngIf="!esta_logueado" class="text-center mt-2" style="background: transparent; color: rgba(5, 5, 5, 0.959);" >
    <p>Debe iniciar sesión o crear una cuenta para realizar la compra.</p>
    <button (click)="ref.close()" class="p-button custom-button">Cerrar</button>
  </div>

  <div *ngIf="esta_logueado">
    <div class="text-center">
      <img class="border-round w-full" [src]="activity.imagen" style="max-width: 300px;" />

    </div>
    <div class="text-xl font-medium text-900 mb-3">{{ activity.nombre }}</div>
    <div class="font-medium text-500 mb-3">{{ activity.descripcion }}</div>
    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
    <span class="font-bold text-lg text-900"
      >Precio: {{ activity.precio }} Bs</span
    >
    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
    <div class="flex align-items-center justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <div class="flex flex-column gap-2 w-12rem">
          <label for="username">Nro. Tickets a Comprar</label>
          <p-inputNumber
            styleClass="w-full"
            class="w-full"
            inputStyleClass="w-full"
            [(ngModel)]="numberOfTicketsToBuy"
            [showButtons]="true"
            buttonLayout="horizontal"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            [min]="0"
            [max]="100"
          />
        </div>
      </div>
      <div class="font-bold">Total: {{ amountToPay() }} Bs.</div>
    </div>
    <div class="flex flex-column mt-4">
      <label for="paymentMethod" style="color: black;">Método de Pago</label>
      <p-dropdown
        [(ngModel)]="metodo_pago"
        [options]="metodoDePago"
        optionLabel="label"
        placeholder="Seleccione un método"
        class="w-10rem mt-2 custom-dropdown"
      ></p-dropdown>
    </div>
    <div class="flex justify-content-end flex-wrap">
      <p-button
        [label]="isInCart ? 'Quitar del carrito' : 'Agregar al carrito'"
        [disabled]="!metodo_pago || !cantidad_ticket"
        (onClick)="agregarAlCarrito()"
        styleClass="custom-button"
      />
    </div>
  </div>
  
</div>