<div class="gradient-background1"></div>
<p-menubar [model]="routes" styleClass="transparent-menubar">
    <ng-template pTemplate="start">
        <img src="assets/img/logo1.png" class="h-5rem" />

    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link" routerLinkActive="blurred-background border-round"
            [routerLink]="item.routerLink">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <profile />
    </ng-template>
</p-menubar>
<div class="p-2">
    <router-outlet />
</div>