<div class="p-m-3">
    <p-toolbar class="mb-4">
        <div class="p-toolbar-group-left">
            <button pButton label="Actualizar actividades" icon="pi pi-refresh" class="p-button-info mr-2" ></button>
            <button pButton label="Añadir actividad" icon="pi pi-plus" class="p-button-success mr-2"></button>
            <!-- <button pButton label="Eliminar actividad seleccionada" icon="pi pi-trash" class="p-button-danger"></button> -->
        </div>
    </p-toolbar>

    <p-table [value]="activities" selectionMode="multiple" [(selection)]="selectedActivities" dataKey="id" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th pSelectableColumn></th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="descripcion">Descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
                <th pSortableColumn="precio">Precio <p-sortIcon field="precio"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-actividad>
            <tr>
                <td pSelectableColumn></td>
                <td>{{ actividad.nombre }}</td>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.precio  }}</td>
                <td>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No se encontraron actividades.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
