@import "primeicons/primeicons.css";
body {
  margin: 0px;
}

/* para login e inicio de sesion */
.gradient-background {
  background-image: url('assets/img/fondopuro1.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
